# Lista 1 - Introdução ao Python

In [3]:
import numpy as np

#### 1. Crie os seguintes vetores :

**a) (1, 2, 3, . . ., 15)**

In [5]:
# R: seq(1,15,1)
np.arange(1,16)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

**b) (15, 14, . . ., 1)**

In [8]:
# R: seq(15,1)
np.arange(15,0,-1)

array([15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

**c) (1, 2, 3, . . . , 19, 20, 19, 18, . . . , 2, 1)**

In [3]:
# R: c(seq(1,20),seq(19,1))
a = np.arange(40)
a[0:19] = np.arange(1,20)
a[20:41] = np.arange(20,0,-1)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,
        6,  5,  4,  3,  2,  1])

In [79]:
# R: c(seq(1,20),seq(19,1))
np.concatenate((np.arange(1,20),np.arange(20,0,-1)), axis=None)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,
        5,  4,  3,  2,  1])

**d) (7, 8, 9) com o nome “a”**

In [34]:
# R: a = seq(7,9)
a = np.arange(7,10,1)
a

array([7, 8, 9])

**e) (7, 8, 9, 7, 8, 9, . . ., 7, 8, 9) em que haja 9 ocorrências do 7**

In [4]:
# R: rep(c(7,8,9),7)
np.tile(np.arange(7,10,1),8)

array([7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8,
       9])

**f) $(7, 8, 9, 7, 8, 9, . . ., 7, 8, 9, 7)$ em que haja 11 ocorrências do 7, 10 ocorrências do 8 e 10 ocorrências do 9**

In [5]:
# R: (a = c(rep(c(7,8,9),10),rep(c(8,9),10),rep(9,10)))
np.concatenate((np.repeat(7,11),np.repeat(8,10),np.repeat(9,10)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9])

**g) $(7, 7, . . ., 7, 8, 8, . . ., 8, 9, 9, . . ., 9)$ em que haja 10 ocorrências do 7, 20 ocorrências do 8 e 30 ocorrências do 9**

In [6]:
# R: (a =c(rep(7,10), rep(8,20), rep(9,30)))
np.concatenate((np.repeat(7,10),np.repeat(8,20),np.repeat(9,30)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

#### 2. Crie um vetor dos valores de $e^{x}\cos x$ em $x = 3; 3, 1; 3, 2; 3, 3; . . ., 6$

In [7]:
# R: exp(seq(3,3.6,0.1))*cos(seq(3,3.6,0.1))
np.exp(np.arange(3.0,3.6,0.1)) * np.cos(np.arange(3.0,3.6,0.1))

array([-19.88453084, -22.17875339, -24.49069673, -26.77318244,
       -28.96923777, -31.01118644, -32.81977476])

#### 3. Crie os seguintes vetores:

**a) $(0, 1)^3 (0, 2)^1 , (0, 1)^6 (0, 2)^4 , . . ., (0, 1)^{36} (0, 2)^{34}$**

In [8]:
# R: (0.1)^seq(3,36,3)*(0.2)^seq(1,34,3)
((0.1) ** (np.arange(3,37,3)))* ((0.2) ** (np.arange(1,35,3)))

array([  2.00000000e-04,   1.60000000e-09,   1.28000000e-14,
         1.02400000e-19,   8.19200000e-25,   6.55360000e-30,
         5.24288000e-35,   4.19430400e-40,   3.35544320e-45,
         2.68435456e-50,   2.14748365e-55,   1.71798692e-60])

**b)** $(2, \frac{2^2}{2},\frac{2^3}{3},...,\frac{2^{25}}{25})$

In [10]:
# R: (2^seq(1,25))/seq(1,25)
(2 ** np.arange(1,26)) / np.arange(1,26)

array([  2.00000000e+00,   2.00000000e+00,   2.66666667e+00,
         4.00000000e+00,   6.40000000e+00,   1.06666667e+01,
         1.82857143e+01,   3.20000000e+01,   5.68888889e+01,
         1.02400000e+02,   1.86181818e+02,   3.41333333e+02,
         6.30153846e+02,   1.17028571e+03,   2.18453333e+03,
         4.09600000e+03,   7.71011765e+03,   1.45635556e+04,
         2.75941053e+04,   5.24288000e+04,   9.98643810e+04,
         1.90650182e+05,   3.64722087e+05,   6.99050667e+05,
         1.34217728e+06])

#### 4. Calcule

** a)** $\displaystyle\sum^{100}_{i=10}(i^3+4i^2)$

In [11]:
# R: sum(seq(1,100)^3 + 4*(seq(1,100))^2)
np.sum((np.arange(1,101) ** 3) + (4 * (np.arange(1,101) ** 2)))

26855900

**b)** $\displaystyle\sum^{25}_{i=10}(\frac{2^i}{i}+\frac{3^i}{i^2})$

In [12]:
# R: sum(((2^seq(1,25))/seq(1,25)) + (3^seq(1,25))/(seq(1,25))^2)
np.sum(((2 ** np.arange(1,26)) / np.arange(1,26)) + (3 ** np.arange(1,26)) / np.arange(1,26) ** 2)

2129170436.8143802

#### 5. Use a função paste para criar os seguintes vetores de caracteres de tamanho 30:

**a) $(“nome\text{ }1”, “nome\text{ }2”, . . ., “nome\text{ }30”)$ Note que há apenas um espaço entre o nome e o número.**

In [77]:
# R: (nomes <- paste("nome", 1:30))
for i in range(1,31):
    text = 'nome ' + str(i)
    print(text)

nome 1
nome 2
nome 3
nome 4
nome 5
nome 6
nome 7
nome 8
nome 9
nome 10
nome 11
nome 12
nome 13
nome 14
nome 15
nome 16
nome 17
nome 18
nome 19
nome 20
nome 21
nome 22
nome 23
nome 24
nome 25
nome 26
nome 27
nome 28
nome 29
nome 30

**b) $(“f1”, “f2”, . . ., “f30”)$ Aqui não há espaço entre a letra e o número.**

In [72]:
# R: paste0("f", 1:30)
for i in range(1,31):
    text = ('f' + str(i))
    print(text)

f1
f2
f3
f4
f5
f6
f7
f8
f9
f10
f11
f12
f13
f14
f15
f16
f17
f18
f19
f20
f21
f22
f23
f24
f25
f26
f27
f28
f29
f30

str

#### 6. Execute os seguintes comandos que criam dois vetores de inteiros aleatórios que são escolhidos com reposição entre 0 e 999. Ambos os vetores têm comprimento 250.    
<br>
   
    set.seed(50)
    x = sample(0:999, 250, replace=T)
    y = sample(0:999, 250, replace=T)  
#### Suponha que $x = [x 1 , . . . , x n ]$ e $y = [y 1 , . . . , y n ]$ denotem os vetores.

In [4]:
x = np.random.uniform(low=0, high=999, size=250).round(2)
y = np.random.uniform(low=0, high=999, size=250).round(2)

In [132]:
x.shape

(250,)

**a) Crie o vetor $(y_{2} − x_1 , . . . , y_{n} − x_{n−1} ) $**

In [171]:
# R: y[seq(2,250)] - x[seq(1,249)]
s = (y[np.arange(1,249)]) - (x[np.arange(0,248)])
s[0:50]

array([-665.36, -301.58,  391.34,  -51.9 , -545.69, -216.95,  306.85,
       -278.26,  833.13,  387.8 ,  672.85, -730.28,  727.94,  352.36,
       -801.19, -170.06,  140.52,  -28.12,  109.85,  448.02,  711.67,
        479.83,  -82.03,  694.32, -420.75,  167.67,  100.45,  -45.13,
       -399.83,  491.79,  330.86,  -69.26,  801.08,  401.7 ,  911.09,
        174.07,  546.6 ,   44.49,  299.88,  -87.02, -845.41, -928.58,
       -228.96, -532.11, -346.83,  218.4 ,  229.14, -566.77,  304.85,
       -433.66])

** b) Crie o vetor $ \big(\frac{\sin(y_1)}{\cos(x_2}, \frac{\sin(y_2)}{\cos(x_3},\frac{\sin(y_{n-1})}{\cos(x_n)} \big)$**

In [164]:
# R: (sin(y[seq(1,249)]))/(cos(x[seq(2,250)]))
s = (np.sin(y[np.arange(0,249)])) / (np.cos(x[np.arange(1,250)]))
s[0:50]

array([  1.92309307e-02,  -5.50721365e-01,  -3.18573332e+00,
        -1.03522302e+00,  -3.02696146e-01,   1.93813467e+00,
         1.55034672e+00,  -2.43201896e+00,  -3.82267422e+00,
        -2.05367364e+00,   4.61840357e-01,   7.01526538e-01,
        -7.05611082e-01,   5.56276613e-01,   1.69272683e-02,
         1.48330531e-01,   4.40321184e+00,  -9.14304834e+01,
        -1.04888101e+00,  -4.30173068e+00,   1.36972623e+00,
         1.49825895e-01,  -1.19642170e-01,   9.75418104e-01,
         1.18366420e+00,  -5.12182393e-01,   9.54012107e-01,
        -1.99056770e+00,   8.61244532e-01,   8.37852388e+00,
        -9.08204324e-01,   1.45458497e+00,   1.05576728e+00,
         1.29374310e+00,  -1.07543431e+00,  -7.29229026e-01,
        -3.29352343e-01,  -4.63309263e-01,  -2.76804859e-01,
         6.86337026e-01,   5.07484333e-01,   4.53414138e+00,
         6.85106277e-01,  -4.04392930e+00,   3.26226763e+00,
         2.44426019e-01,   3.97076040e+00,  -9.23594281e-01,
         3.21106612e-01,  -5.87490919e-01])

**c) Crie o vetor $(x_1 + 2x_2 - x_3, x_2 +2x_3 +x_4,...,x_{n-2} + 2x_{n-1}-x_n)$**

In [9]:
# R: x[seq(1,248)]+2*x[seq(2,249)]-x[seq(3,250)]
s = (x[np.arange(0,248)]) +  (2 * x[np.arange(1,249)]) - (x[np.arange(2,250)])
s[0:50]

array([ 2194.59,   396.81,  1524.01,  1662.12,   277.16,  -141.73,
         939.92,  1451.92,  1374.35,  -331.41,  1327.  ,   708.79,
        1814.21,   776.41,   442.67,   612.91,  1219.97,  1711.91,
        1047.83,  2506.04,   925.39,   420.39,  -100.85,  1950.25,
         832.48,  -192.68,    14.43,  1829.41,  1366.63,  1172.1 ,
        1840.42,  2356.65,  1559.49,   476.87,  1277.47,   659.37,
        1055.37,  2368.09,  1179.77,   395.04,  1281.64,   317.9 ,
         528.75,  2402.56,  1117.87,  -230.75,  1526.79,  1177.16,
        1234.22,  2391.44])

#### 7. Essa questão usa os vetores $x$ e $y$ criados na questão anterior e as funções `sort`, `order`, `mean`, `sqrt`, `sum` e `abs`.

**a) Selecione os valores de y que são maiores do que 600.**

In [11]:
# R: sort(y)[which(((sort(y))>600)==TRUE)]

array([ 239.69,  473.42,  853.92,  827.81,  324.18,  130.13,  484.19,
        473.41,  217.76,  989.42,  755.6 ,  802.63,  742.37,  520.3 ,
        405.74,  782.74,  461.01,  292.92,  380.66,  846.18,  571.2 ,
         68.79,  320.51,   26.45,  963.01,  295.12,  998.11,  433.07,
        581.67,  693.24,  287.97,  798.54,   56.58,  562.8 ,  219.6 ,
        770.41,  558.02,  154.69,  789.54,  621.32,  652.59,  125.93,
        616.63,  893.35,  149.55,  331.14,  667.79,  174.18,  548.95,
        352.38,  258.79,  148.74,  772.09,   87.02,  327.97,  375.64,
        599.73,   89.33,  336.28,   26.26,  760.32,  501.85,  966.49,
        469.59,  777.91,  192.79,  802.15,  177.09,  949.06,  177.36,
        966.16,  230.78,  476.41,  848.5 ,  993.88,  769.58,  439.63,
        488.82,  447.98,  357.82,  297.69,  294.39,   57.86,  833.85,
        428.02,  495.87,   46.41,  982.95,  825.77,  998.47,  573.47,
        325.7 ,   21.52,  898.73,  924.44,  634.96,  914.29,  799.76,
        946.94,  420.58,  883.21,  917.56,  348.38,  130.31,  430.59,
        313.28,  311.9 ,  959.22,  559.44,  407.67,  486.3 ,  175.99,
        106.18,  329.68,  644.05,  345.64,  638.44,  106.55,  366.93,
         93.07,  189.51,  626.73,  215.6 ,  850.67,  398.89,  941.13,
        245.93,  301.8 ,  319.79,  854.72,  587.75,  332.84,  485.28,
        639.18,  306.73,  136.3 ,  426.77,  108.88,  489.92,  920.39,
        217.6 ,  297.24,  682.25,  128.64,  726.64,  261.21,  596.58,
        583.62,  637.23,    6.24,  924.16,  224.54,  175.56,  494.21,
        818.28,  158.89,  998.48,  193.15,  322.85,  821.97,  856.29,
        528.17,  452.04,  969.  ,  884.11,  700.72,  550.26,   95.91,
        911.6 ,  394.05,   86.14,  706.01,  723.92,  859.19,  659.58,
        459.08,  853.38,   78.35,  369.89,  160.86,  733.82,  195.7 ,
        375.34,  886.03,  154.99,  346.39,  612.01,  496.35,  945.45,
        890.95,  254.3 ,  134.3 ,  819.6 ,  239.97,  160.37,  875.09,
        539.3 ,  986.67,  107.81,  407.97,  463.72,  478.93,   70.54,
        170.21,  324.24,  831.44,  170.31,  703.71,  390.2 ,  510.05,
        830.62,  101.04,  269.26,  476.75,  217.3 ,  425.53,  894.21,
        690.42,  991.56,  308.5 ,  724.14,  673.96,  793.43,   40.86,
         62.29,  347.74,  890.19,  511.23,  638.78,  945.23,  767.95,
        903.43,  319.68,  823.49,  352.68,  843.2 ,   78.18,  602.43,
        532.43,  318.65,  990.74,  824.18,  327.64,   40.8 ,  398.37,
        874.1 ,  601.36,  559.3 ,  288.48,  267.03])

**b) Quais são as posições correspondentes aos valores em y que são maiores do que 600?**

In [ ]:
# R: which((y>600)==TRUE)

**c) Quais são os valores em x que correspondem aos valores em y que são maiores do que 600? (corresponder quer dizer que estão nas mesmas posições).**

In [ ]:
# R: which((y>600)==TRUE & (x>600)==TRUE)

**d) Crie o vetor $(|x_1-\overline x|^{1/2}, |x_2-\overline x|^{1/2},...,|x_n-\overline x|^{1/2}) $ em que x̄ denota a média dos valores de x.**

In [ ]:
# R: head(sqrt(abs(x[seq(1,250)]-mean(x))))

**e) Quantos valores em y estão entre o valor máximo de y e esse valor menos 200?**

In [ ]:
# R: length(sort(y)[which(((sort(y))>(sort(y)[250]-200))==TRUE)])

**f) Quantos números em x são divisı́veis por 2? (O operador de resto da divisão é denotado por %%).**

In [ ]:
# R: length(which((x%%2==0)==TRUE))

**g) Ordene os números do vetor x na ordem crescente dos valores em y.**

In [ ]:
# R: head(x[order(x)])

**h) Selecione os elementos em y das posições 1, 4, 7, 10, 13 etc.**

In [10]:
# R: y[seq(1,250,3)]

#### 8. Seja a matriz:  

$$A = \begin{bmatrix} 1 & 1 & 3  \\ 5 & 2 & 6 \\ -2 & -1 & -3\end{bmatrix} $$

In [ ]:
# R: A = matrix(c(1, 5, -2, 1, 2, -1, 3, 6, -3), 3, 3)

**a) Verifique que $A^3 = 0$, em que $0$ é uma matriz de zeros $3 × 3$.**

In [ ]:
# R: (A%*%A)%*%A

**b) Substitua a terceira coluna de $A$ pela soma das segunda e terceira colunas.**

In [ ]:
# R: A[,3] = apply((A[,2:3]), 1, sum)

#### 9. Crie a seguinte matriz $B$ com 15 linhas:  
$$A = \begin{bmatrix} 10 & -10 & 10  \\ 10 & -10 & 10 \\ &...&&\\10 & -10 & 10 \end{bmatrix} $$

In [ ]:
# R: B = matrix(c(rep(10,15), rep(-10,15), rep(10,15)), 15, 3)
# R: (t(B)%*%B)

#### Obtenha a matriz $B^T B 3 × 3$