# Lista 1 - Introdução ao Python

In [1]:
import numpy as np

#### 1. Crie os seguintes vetores :

**a) (1, 2, 3, . . ., 15)**

In [5]:
# R: seq(1,15,1)
np.arange(1,16)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

**b) (15, 14, . . ., 1)**

In [8]:
# R: seq(15,1)
np.arange(15,0,-1)

array([15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

**c) (1, 2, 3, . . . , 19, 20, 19, 18, . . . , 2, 1)**

In [3]:
# R: c(seq(1,20),seq(19,1))
a = np.arange(40)
a[0:19] = np.arange(1,20)
a[20:41] = np.arange(20,0,-1)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,
        6,  5,  4,  3,  2,  1])

In [79]:
# R: c(seq(1,20),seq(19,1))
np.concatenate((np.arange(1,20),np.arange(20,0,-1)), axis=None)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,
        5,  4,  3,  2,  1])

**d) (7, 8, 9) com o nome “a”**

In [34]:
# R: a = seq(7,9)
a = np.arange(7,10,1)
a

array([7, 8, 9])

**e) (7, 8, 9, 7, 8, 9, . . ., 7, 8, 9) em que haja 9 ocorrências do 7**

In [4]:
# R: rep(c(7,8,9),7)
np.tile(np.arange(7,10,1),8)

array([7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8,
       9])

**f) $(7, 8, 9, 7, 8, 9, . . ., 7, 8, 9, 7)$ em que haja 11 ocorrências do 7, 10 ocorrências do 8 e 10 ocorrências do 9**

In [5]:
# R: (a = c(rep(c(7,8,9),10),rep(c(8,9),10),rep(9,10)))
np.concatenate((np.repeat(7,11),np.repeat(8,10),np.repeat(9,10)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9])

**g) $(7, 7, . . ., 7, 8, 8, . . ., 8, 9, 9, . . ., 9)$ em que haja 10 ocorrências do 7, 20 ocorrências do 8 e 30 ocorrências do 9**

In [6]:
# R: (a =c(rep(7,10), rep(8,20), rep(9,30)))
np.concatenate((np.repeat(7,10),np.repeat(8,20),np.repeat(9,30)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

#### 2. Crie um vetor dos valores de $e^{x}\cos x$ em $x = 3; 3, 1; 3, 2; 3, 3; . . ., 6$

In [7]:
# R: exp(seq(3,3.6,0.1))*cos(seq(3,3.6,0.1))
np.exp(np.arange(3.0,3.6,0.1)) * np.cos(np.arange(3.0,3.6,0.1))

array([-19.88453084, -22.17875339, -24.49069673, -26.77318244,
       -28.96923777, -31.01118644, -32.81977476])

#### 3. Crie os seguintes vetores:

**a) $(0, 1)^3 (0, 2)^1 , (0, 1)^6 (0, 2)^4 , . . ., (0, 1)^{36} (0, 2)^{34}$**

In [8]:
# R: (0.1)^seq(3,36,3)*(0.2)^seq(1,34,3)
((0.1) ** (np.arange(3,37,3)))* ((0.2) ** (np.arange(1,35,3)))

array([  2.00000000e-04,   1.60000000e-09,   1.28000000e-14,
         1.02400000e-19,   8.19200000e-25,   6.55360000e-30,
         5.24288000e-35,   4.19430400e-40,   3.35544320e-45,
         2.68435456e-50,   2.14748365e-55,   1.71798692e-60])

**b)** $(2, \frac{2^2}{2},\frac{2^3}{3},...,\frac{2^{25}}{25})$

In [10]:
# R: (2^seq(1,25))/seq(1,25)
(2 ** np.arange(1,26)) / np.arange(1,26)

array([  2.00000000e+00,   2.00000000e+00,   2.66666667e+00,
         4.00000000e+00,   6.40000000e+00,   1.06666667e+01,
         1.82857143e+01,   3.20000000e+01,   5.68888889e+01,
         1.02400000e+02,   1.86181818e+02,   3.41333333e+02,
         6.30153846e+02,   1.17028571e+03,   2.18453333e+03,
         4.09600000e+03,   7.71011765e+03,   1.45635556e+04,
         2.75941053e+04,   5.24288000e+04,   9.98643810e+04,
         1.90650182e+05,   3.64722087e+05,   6.99050667e+05,
         1.34217728e+06])

#### 4. Calcule

** a)** $\displaystyle\sum^{100}_{i=10}(i^3+4i^2)$

In [11]:
# R: sum(seq(1,100)^3 + 4*(seq(1,100))^2)
np.sum((np.arange(1,101) ** 3) + (4 * (np.arange(1,101) ** 2)))

26855900

**b)** $\displaystyle\sum^{25}_{i=10}(\frac{2^i}{i}+\frac{3^i}{i^2})$

In [12]:
# R: sum(((2^seq(1,25))/seq(1,25)) + (3^seq(1,25))/(seq(1,25))^2)
np.sum(((2 ** np.arange(1,26)) / np.arange(1,26)) + (3 ** np.arange(1,26)) / np.arange(1,26) ** 2)

2129170436.8143802

#### 5. Use a função paste para criar os seguintes vetores de caracteres de tamanho 30:

**a) $(“nome\text{ }1”, “nome\text{ }2”, . . ., “nome\text{ }30”)$ Note que há apenas um espaço entre o nome e o número.**

In [77]:
# R: (nomes <- paste("nome", 1:30))
for i in range(1,31):
    text = 'nome ' + str(i)
    print(text)

nome 1
nome 2
nome 3
nome 4
nome 5
nome 6
nome 7
nome 8
nome 9
nome 10
nome 11
nome 12
nome 13
nome 14
nome 15
nome 16
nome 17
nome 18
nome 19
nome 20
nome 21
nome 22
nome 23
nome 24
nome 25
nome 26
nome 27
nome 28
nome 29
nome 30

**b) $(“f1”, “f2”, . . ., “f30”)$ Aqui não há espaço entre a letra e o número.**

In [72]:
# R: paste0("f", 1:30)
for i in range(1,31):
    text = ('f' + str(i))
    print(text)

f1
f2
f3
f4
f5
f6
f7
f8
f9
f10
f11
f12
f13
f14
f15
f16
f17
f18
f19
f20
f21
f22
f23
f24
f25
f26
f27
f28
f29
f30

str

#### 6. Execute os seguintes comandos que criam dois vetores de inteiros aleatórios que são escolhidos com reposição entre 0 e 999. Ambos os vetores têm comprimento 250.    
<br>
   
    set.seed(50)
    x = sample(0:999, 250, replace=T)
    y = sample(0:999, 250, replace=T)  
#### Suponha que $x = [x 1 , . . . , x n ]$ e $y = [y 1 , . . . , y n ]$ denotem os vetores.

**a) Crie o vetor $(y_{2} − x_1 , . . . , y_{n} − x_{n−1} ) $**

In [ ]:
# R: y[seq(2,250)] - x[seq(1,249)]

** b) Crie o vetor $ \big(\frac{\sin(y_1)}{\cos(x_2}, \frac{\sin(y_2)}{\cos(x_3},\frac{\sin(y_{n-1})}{\cos(x_n} \big)$**

In [ ]:
# R: (sin(y[seq(1,249)]))/(cos(x[seq(2,250)]))

**c) Crie o vetor $(x_1 + 2x_2 - x_3, x_2 +2x_3 +x_4,...,x_{n-2} + 2x_{n-1}-x_n)$**

In [ ]:
# R: x[seq(1,248)]+2*x[seq(2,249)]-x[seq(3,250)]