# Lista 1 - Introdução ao Python

In [1]:
import numpy as np

#### 1. Crie os seguintes vetores :

**a) (1, 2, 3, . . ., 15)**

In [5]:
# R: seq(1,15,1)
np.arange(1,16)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

**b) (15, 14, . . ., 1)**

In [8]:
# R: seq(15,1)
np.arange(15,0,-1)

array([15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

**c) (1, 2, 3, . . . , 19, 20, 19, 18, . . . , 2, 1)**

In [3]:
# R: c(seq(1,20),seq(19,1))
a = np.arange(40)
a[0:19] = np.arange(1,20)
a[20:41] = np.arange(20,0,-1)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,
        6,  5,  4,  3,  2,  1])

In [79]:
# R: c(seq(1,20),seq(19,1))
np.concatenate((np.arange(1,20),np.arange(20,0,-1)), axis=None)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,
        5,  4,  3,  2,  1])

**d) (7, 8, 9) com o nome “a”**

In [34]:
# R: a = seq(7,9)
a = np.arange(7,10,1)
a

array([7, 8, 9])

**e) (7, 8, 9, 7, 8, 9, . . ., 7, 8, 9) em que haja 9 ocorrências do 7**

In [4]:
# R: rep(c(7,8,9),7)
np.tile(np.arange(7,10,1),8)

array([7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8,
       9])

**f) $(7, 8, 9, 7, 8, 9, . . ., 7, 8, 9, 7)$ em que haja 11 ocorrências do 7, 10 ocorrências do 8 e 10 ocorrências do 9**

In [5]:
# R: (a = c(rep(c(7,8,9),10),rep(c(8,9),10),rep(9,10)))
np.concatenate((np.repeat(7,11),np.repeat(8,10),np.repeat(9,10)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9])

**g) $(7, 7, . . ., 7, 8, 8, . . ., 8, 9, 9, . . ., 9)$ em que haja 10 ocorrências do 7, 20 ocorrências do 8 e 30 ocorrências do 9**

In [6]:
# R: (a =c(rep(7,10), rep(8,20), rep(9,30)))
np.concatenate((np.repeat(7,10),np.repeat(8,20),np.repeat(9,30)),axis=None)

array([7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
       8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
       9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

#### 2. Crie um vetor dos valores de $e^{x}\cos x$ em $x = 3; 3, 1; 3, 2; 3, 3; . . ., 6$

In [7]:
# R: exp(seq(3,3.6,0.1))*cos(seq(3,3.6,0.1))
np.exp(np.arange(3.0,3.6,0.1)) * np.cos(np.arange(3.0,3.6,0.1))

array([-19.88453084, -22.17875339, -24.49069673, -26.77318244,
       -28.96923777, -31.01118644, -32.81977476])

#### 3. Crie os seguintes vetores:

**a) $(0, 1)^3 (0, 2)^1 , (0, 1)^6 (0, 2)^4 , . . ., (0, 1)^{36} (0, 2)^{34}$**

In [8]:
# R: (0.1)^seq(3,36,3)*(0.2)^seq(1,34,3)
((0.1) ** (np.arange(3,37,3)))* ((0.2) ** (np.arange(1,35,3)))

array([  2.00000000e-04,   1.60000000e-09,   1.28000000e-14,
         1.02400000e-19,   8.19200000e-25,   6.55360000e-30,
         5.24288000e-35,   4.19430400e-40,   3.35544320e-45,
         2.68435456e-50,   2.14748365e-55,   1.71798692e-60])

**b)** $(2, \frac{2^2}{2},\frac{2^3}{3},...,\frac{2^{25}}{25})$

In [10]:
# R: (2^seq(1,25))/seq(1,25)
(2 ** np.arange(1,26)) / np.arange(1,26)

array([  2.00000000e+00,   2.00000000e+00,   2.66666667e+00,
         4.00000000e+00,   6.40000000e+00,   1.06666667e+01,
         1.82857143e+01,   3.20000000e+01,   5.68888889e+01,
         1.02400000e+02,   1.86181818e+02,   3.41333333e+02,
         6.30153846e+02,   1.17028571e+03,   2.18453333e+03,
         4.09600000e+03,   7.71011765e+03,   1.45635556e+04,
         2.75941053e+04,   5.24288000e+04,   9.98643810e+04,
         1.90650182e+05,   3.64722087e+05,   6.99050667e+05,
         1.34217728e+06])

#### 4. Calcule

** a)** $\displaystyle\sum^{100}_{i=10}(i^3+4i^2)$

In [11]:
# R: sum(seq(1,100)^3 + 4*(seq(1,100))^2)
np.sum((np.arange(1,101) ** 3) + (4 * (np.arange(1,101) ** 2)))

26855900

**b)** $\displaystyle\sum^{25}_{i=10}(\frac{2^i}{i}+\frac{3^i}{i^2})$

In [12]:
# R: sum(((2^seq(1,25))/seq(1,25)) + (3^seq(1,25))/(seq(1,25))^2)
np.sum(((2 ** np.arange(1,26)) / np.arange(1,26)) + (3 ** np.arange(1,26)) / np.arange(1,26) ** 2)

2129170436.8143802

#### 5. Use a função paste para criar os seguintes vetores de caracteres de tamanho 30:

**a) $(“nome\text{ }1”, “nome\text{ }2”, . . ., “nome\text{ }30”)$ Note que há apenas um espaço entre o nome e o número.**

In [77]:
# R: (nomes <- paste("nome", 1:30))
for i in range(1,31):
    text = 'nome ' + str(i)
    print(text)

nome 1
nome 2
nome 3
nome 4
nome 5
nome 6
nome 7
nome 8
nome 9
nome 10
nome 11
nome 12
nome 13
nome 14
nome 15
nome 16
nome 17
nome 18
nome 19
nome 20
nome 21
nome 22
nome 23
nome 24
nome 25
nome 26
nome 27
nome 28
nome 29
nome 30

**b) $(“f1”, “f2”, . . ., “f30”)$ Aqui não há espaço entre a letra e o número.**

In [72]:
# R: paste0("f", 1:30)
for i in range(1,31):
    text = ('f' + str(i))
    print(text)

f1
f2
f3
f4
f5
f6
f7
f8
f9
f10
f11
f12
f13
f14
f15
f16
f17
f18
f19
f20
f21
f22
f23
f24
f25
f26
f27
f28
f29
f30

str

#### 6. Execute os seguintes comandos que criam dois vetores de inteiros aleatórios que são escolhidos com reposição entre 0 e 999. Ambos os vetores têm comprimento 250.    
<br>
   
    set.seed(50)
    x = sample(0:999, 250, replace=T)
    y = sample(0:999, 250, replace=T)  
#### Suponha que $x = [x 1 , . . . , x n ]$ e $y = [y 1 , . . . , y n ]$ denotem os vetores.

In [131]:
x = np.random.uniform(low=0, high=999, size=250).round(2)
y = np.random.uniform(low=0, high=999, size=250).round(2)

In [132]:
x.shape

(250,)

**a) Crie o vetor $(y_{2} − x_1 , . . . , y_{n} − x_{n−1} ) $**

In [171]:
# R: y[seq(2,250)] - x[seq(1,249)]
s = (y[np.arange(1,249)]) - (x[np.arange(0,248)])
s[0:50]

array([-665.36, -301.58,  391.34,  -51.9 , -545.69, -216.95,  306.85,
       -278.26,  833.13,  387.8 ,  672.85, -730.28,  727.94,  352.36,
       -801.19, -170.06,  140.52,  -28.12,  109.85,  448.02,  711.67,
        479.83,  -82.03,  694.32, -420.75,  167.67,  100.45,  -45.13,
       -399.83,  491.79,  330.86,  -69.26,  801.08,  401.7 ,  911.09,
        174.07,  546.6 ,   44.49,  299.88,  -87.02, -845.41, -928.58,
       -228.96, -532.11, -346.83,  218.4 ,  229.14, -566.77,  304.85,
       -433.66])

** b) Crie o vetor $ \big(\frac{\sin(y_1)}{\cos(x_2}, \frac{\sin(y_2)}{\cos(x_3},\frac{\sin(y_{n-1})}{\cos(x_n)} \big)$**

In [164]:
# R: (sin(y[seq(1,249)]))/(cos(x[seq(2,250)]))
s = (np.sin(y[np.arange(0,249)])) / (np.cos(x[np.arange(1,250)]))
s[0:50]

array([  1.92309307e-02,  -5.50721365e-01,  -3.18573332e+00,
        -1.03522302e+00,  -3.02696146e-01,   1.93813467e+00,
         1.55034672e+00,  -2.43201896e+00,  -3.82267422e+00,
        -2.05367364e+00,   4.61840357e-01,   7.01526538e-01,
        -7.05611082e-01,   5.56276613e-01,   1.69272683e-02,
         1.48330531e-01,   4.40321184e+00,  -9.14304834e+01,
        -1.04888101e+00,  -4.30173068e+00,   1.36972623e+00,
         1.49825895e-01,  -1.19642170e-01,   9.75418104e-01,
         1.18366420e+00,  -5.12182393e-01,   9.54012107e-01,
        -1.99056770e+00,   8.61244532e-01,   8.37852388e+00,
        -9.08204324e-01,   1.45458497e+00,   1.05576728e+00,
         1.29374310e+00,  -1.07543431e+00,  -7.29229026e-01,
        -3.29352343e-01,  -4.63309263e-01,  -2.76804859e-01,
         6.86337026e-01,   5.07484333e-01,   4.53414138e+00,
         6.85106277e-01,  -4.04392930e+00,   3.26226763e+00,
         2.44426019e-01,   3.97076040e+00,  -9.23594281e-01,
         3.21106612e-01,  -5.87490919e-01])

**c) Crie o vetor $(x_1 + 2x_2 - x_3, x_2 +2x_3 +x_4,...,x_{n-2} + 2x_{n-1}-x_n)$**

In [206]:
# R: x[seq(1,248)]+2*x[seq(2,249)]-x[seq(3,250)]
(x[np.arange(0,248)]) +  (2 * x[np.arange(1,249)]) - (x[np.arange(2,250)])

array([ 2045.44,  1011.22,  -363.94,  1197.36,  1893.89,   794.33,
        1970.6 ,   428.35,   753.91,    -3.12,  1551.39,   955.17,
         253.59,  1804.97,   854.92,   727.48,   801.66,  1651.01,
         558.81,   347.19,   185.53,  1386.08,    51.99,  1102.65,
        1734.9 ,  1160.49,   235.4 ,   860.24,  1006.47,   276.56,
         256.31,  -167.51,   539.74,   289.46,    64.93,   445.29,
        -241.21,   498.98,   222.06,  1206.52,  1869.33,  2009.06,
        1401.06,  1735.38,  1900.25,   985.38,  1310.59,   286.02,
        1425.45,  2105.29,   320.51,  2035.52,   683.8 ,   967.68,
        2002.78,  1152.85,  1381.13,  2384.14,   681.67,   642.8 ,
        1068.31,  2121.19,  1209.55,  1553.66,  1985.89,   691.51,
        2024.38,  1726.12,  -589.01,  1330.22,  2281.32,    84.59,
         272.81,  2252.19,   591.94,  1922.33,   468.97,  1378.33,
        2169.48,   798.77,  -382.69,   317.82,  1325.33,   946.62,
         646.04,   386.5 ,  1882.98,    73.01,  1483.64,  1040.75,
        1409.28,  2273.96,   596.53,   770.24,    49.3 ,  1612.92,
         444.18,  1357.32,  2564.1 ,   802.54,  -123.09,    42.14,
         332.47,   864.67,  1989.08,  1508.67,   420.04,  1294.46,
         614.68,  1451.64,   511.16,    71.89,  1505.18,  2361.96,
        1319.51,   807.54,   935.63,  2104.57,  2033.76,   162.42,
         178.07,   892.88,  1290.73,  1301.81,   777.3 ,  2085.13,
        1379.52,  1044.22,  1268.34,   137.49,   643.35,   974.71,
        1627.64,  1772.08,  2352.01,  1067.76,  1134.75,  2067.66,
        1177.34,  1205.19,  1672.62,  1784.28,   362.91,  1246.52,
        2255.84,  2280.81,   559.51,   115.75,   629.02,   516.96,
        2005.15,  1133.12,   330.16,  1140.83,  1336.26,   116.96,
        1915.57,  1624.89,   220.83,   567.7 ,   253.96,   324.79,
         -32.36,   451.49,  1603.23,  1451.02,  1696.04,  2812.82,
         498.98,  1386.62,   523.85,  1181.94,  1750.64,  1029.76,
         845.17,   942.92,   958.8 ,   513.2 ,  -569.72,  1059.34,
        1102.77,  1846.91,    64.02,  1169.16,  2742.99,   622.43,
         586.97,   866.18,   782.48,  1624.41,   236.17,   354.74,
         936.95,   447.56,   346.11,  1288.3 ,   -43.08,   817.84,
        1001.77,   156.52,   747.49,  1343.12,  -366.43,  1087.59,
        2347.9 ,   913.69,  -349.56,  1101.15,  2586.73,  1347.28,
        -388.69,   884.05,  1054.66,   447.39,  1924.42,    57.8 ,
        1437.53,  2110.4 ,  -155.96,   977.88,  1500.68,   973.53,
         993.59,  1415.93,  2088.74,   810.23,  1681.96,  1158.15,
        2517.25,   992.15,  -250.26,   944.97,  1533.09,  1481.89,
        1087.5 ,   712.78,    89.  ,    16.81,   203.8 ,    68.43,
        1290.89,  2531.  ,   993.83,  1707.22,  1328.57,  -141.51,
         717.31,   895.15])